.node {
  width:1.4vmax;
  height: 25px;
  outline: 1px solid rgb(216, 216, 216);
  display: inline-block;
  border-radius: 2px;
  margin-left: 1px;
  margin-top: -3px;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited-no-anim {
  background-color: #536dfe;
}

.node-shortest-path-no-anim{
  background-color: rgb(255, 230, 88);
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(0, 224, 165, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(75, 147, 255, 0.747);
  }

  100% {
    transform: scale(1);
    background-color: #536dfe;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.outlined {
  background-color: rgb(168, 168, 168);
  
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 230, 88);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 255, 233);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 230, 88);
  }
}
